/* main */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  line-height: 1.5;
  padding-bottom: 2rem;
  background: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Inconsolata", monospace;
}

body > * {
  max-width: min(90%, 50rem);
  margin: 0 auto;
  backdrop-filter: blur(1rem);
  background: hsla(100deg, 100%, 100%, 0.5);
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 2rem;
}

svg {
  max-width: 1rem;
}

h1, h2, h3 {
  line-height: 1.2;
}

nav > ul {
  display: grid;
  gap: 2rem;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  background-color: hsla(0deg, 0%, 0%, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}

nav > ul > li > a {
  color: white;
}

a {
  text-underline-position: under;
}

.skip-link {
  opacity: 0;
}

.skip-link:focus {
  opacity: 1;
}
